<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Message:</strong>
  <%= @recipe.message %>
</p>

<p>
  <strong>Score:</strong>
  <%= @recipe.score %>
</p>

<p>
  <strong>Category:</strong>
  <%= @recipe.category_id %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
