<%= form_for(@has_badge) do |f| %>
  <% if @has_badge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@has_badge.errors.count, "error") %> prohibited this has_badge from being saved:</h2>

      <ul>
      <% @has_badge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :badge_id %><br>
    <%= f.number_field :badge_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
