<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @checkin.description %>
</p>

<p>
  <strong>Date time:</strong>
  <%= @checkin.date_time %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @checkin.picture%>
</p>

<p>
  <strong>User:</strong>
  <%= @checkin.user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @checkin.category_id %>
</p>

<%= link_to 'Edit', edit_checkin_path(@checkin) %> |
<%= link_to 'Back', checkins_path %>
